body{
	background-color:#d6eeeb;
	color:#393939;
	padding: 100px 20px 30px 15px;
}

div{text-align:center}
h1{font-family:"Roboto", sans-serif;}
p{font-family:"Roboto", sans-serif;}

#intro{width: 50%; display: block; margin: 0 auto;    font-weight: 300;}

